
body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
	padding:0;

	background-color: #0080FF;
	background-image: url("../assets/skybg.png");
	background-repeat: repeat-x;
}

#header {
	margin:0 auto;
	padding:0;
}

#navBarBG {
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: #000000;
	opacity: 0.3;
}

#navBar
{
	position: absolute;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#navBar li
{
	float:left;
	margin-top: 0;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-position: center;
}

.navBarItem
{
	display:block;
	color:#FFFFFF;
	font-weight: 400;
	text-align:center;
	padding-top: 4px;
	text-decoration:none;
	text-shadow:1px 1px 2px #000000;
	margin: 0;
}

#contentBG 
{
	background-color: #000000;
	opacity: 0.3;
}