<!DOCTYPE html>

<html lang="en" ng-app="jimhubApp">
<head>
    <meta charset="utf-8" />
    <title>jimhub.io // games and things by james and things</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/jimhub.css" type="text/css" />
    <script src="js/phaser.min.js"></script>
    <script src="js/jimhubgame.js"></script>
    
</head>
<body>
    <div id="blogContainer">
	    <div id="gameCanvas">
	    </div>
	    
        <div id="navBarContainer" ng-controller="NavBarController">
            <div id="navBarBG">
                <ul id="navBar">
                    <li ng-repeat="cat in navBarItems" ng-style="{ width: navBarItemWidth+'px' }" ng-click="selectCat(cat.xPos)">

                        <a href="{{ cat.link }}" class="navBarItem" target="{{ cat.target }}">{{ cat.displayName }}</a>
                    </li>
                </ul>
                <div id="navBarSelector" ng-show="showNavBarSelector"
                     ng-style="{width: navBarItemWidth+'px'}" slide-me="navBarSelectorPos"></div>
            </div>
            
            <div id="subCatsContainer" ng-show="showSubCats">
                <div id="subCatsBG">
                    <ul id="subCatsBar">
                        <li ng-repeat="subCat in subCatsItems" ng-style="{ width: subCatsItemWidth+'px' }" ng-click="selectSubCat(subCat.xPos)">
                            <a href="{{ subCat.link }}" class="subCatsItem" target="{{ subCat.target }}">{{ subCat.displayName }}</a>
                        </li>
                    </ul>
                    <div id="subCatsBarSelector"></div>
                </div>
            </div>
        </div>

	   <div ng-view></div>
	    
	    <div id="footer">
	    	jimhub.io // &copy; 2014 by James Liljenquist // powered by <a href="http://angularjs.org/" target="_blank">AngularJS</a>&nbsp;&lt;3
	    </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-animate.js"></script>
    
    <script src="js/TweenLite.min.js"></script>
    <script src="js/CSSPlugin.min.js"></script>
    
    <script src="app/app.js"></script>
    <script src="app/services/values.js"></script>
    <script src="app/directives/slideme.js"></script>

    <script src="app/services/jimhubFactory.js"></script>

    <script src="app/controllers/navBarController.js"></script>
    <script src="app/controllers/blogsController.js"></script>
</body>
</html>
